{% extends 'shop/basic.html' %}
{% load static %}
{% block title%} Thank You{% endblock %}
{% block body %}
<div class="container">
    <div class="row text-center">
     	{% if response.RESPCODE == '01' %}
        <div class="col-sm-12">
        <br><br> <h2 style="color:#0fad00">Thank You</h2>
        <img src="{% static '/shop/done.png' %}" style="width: 200px;">
        <p style="font-size:20px;color:#5C5C5C;">Your payment was successful. Your Transaction Id : <b>{{ response.TXNID }}</b><br>We have been received yor order. Thank you for choosing MyawesomeCart. </p>
    <br><br>
        </div>
        {% else %}

        <div class="col-sm-12">
        <br><br> <h2 style="color:#f34200">Payment Failure</h2>
        <img src="{% static '/shop/not-done.png' %}" style="width: 200px;">
        <p style="font-size:20px;color:#5C5C5C;">Your payment was not successful. There have some problem. If there have any deduction from your bank account it will be refund within 24 hrs. Thank you for choosing MyawesomeCart.</p>
    <br><br>
        </div>

        {% endif %}

</div>

{% endblock %}
{% block js %}
<script>
{% if response.RESPCODE == '01' %}
	localStorage.clear();
{% endif%}
</script>
{% endblock %}
